.Button {
    display: flex;
    height: 90%;
    aspect-ratio: 3.9;
    background-color: #0000;
    border: 2px solid #4e272f;
    color: #4e272f;
    border-radius: 20px;
    margin: 2vmin;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: large;
    transition-duration: 0.2s;
    user-select: none;
    cursor: pointer;
}

.Button:hover {
    background-color: #3b1b21;
    color: white;
}

.Button:active {
    scale: 0.95;
}